@{
    ViewData["Title"] = "Chat Room";
}

    <div class="text-center">
        <h1 class="display-4">Chat Room</h1>
    </div>
    
    <div class="row rounded-lg overflow-hidden shadow">
        <div class="col-5 px-0">
            <div class="bg-white">
                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Connections</p>
                </div>

                <div class="messages-box">
                    <div id="chatUsers" class="list-group rounded-0"></div>
                </div>
            </div>
        </div>

        <div class="col-7 px-0">
            <div id="chatRoom" class="px-4 py-5 chat-box bg-white">
            </div>

            <div class="input-group position-absolute">
                <input id="messageInput" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light" />
                <div class="input-group-append">
                    <button id="sendButton" type="button" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://kit.fontawesome.com/968648577f.js" crossorigin="anonymous"></script>
<script src="~/js/chat.js"></script>
